@font-face {
    font-family: 'UbuntuItalic';
    src: url('font-ubuntu/ubuntu-italic-webfont.eot');
    src: url('font-ubuntu/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-italic-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-italic-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-italic-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('font-ubuntu/ubuntu-bolditalic-webfont.eot');
    src: url('font-ubuntu/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-bolditalic-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-bolditalic-webfont.svg#UbuntuBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('font-ubuntu/ubuntucondensed-regular-webfont.eot');
    src: url('font-ubuntu/ubuntucondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntucondensed-regular-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntucondensed-regular-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntucondensed-regular-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'UbuntuBold';
    src: url('font-ubuntu/ubuntu-bold-webfont.eot');
    src: url('font-ubuntu/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-bold-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-bold-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-bold-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('font-ubuntu/ubuntu-regular-webfont.eot');
    src: url('font-ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-regular-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-regular-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-regular-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('font-ubuntu/ubuntu-mediumitalic-webfont.eot');
    src: url('font-ubuntu/ubuntu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-mediumitalic-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-mediumitalic-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-mediumitalic-webfont.svg#UbuntuMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('font-ubuntu/ubuntu-medium-webfont.eot');
    src: url('font-ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-medium-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-medium-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-medium-webfont.svg#UbuntuMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('font-ubuntu/ubuntu-lightitalic-webfont.eot');
    src: url('font-ubuntu/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-lightitalic-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-lightitalic-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-lightitalic-webfont.svg#UbuntuLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLight';
    src: url('font-ubuntu/ubuntu-light-webfont.eot');
    src: url('font-ubuntu/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-ubuntu/ubuntu-light-webfont.woff') format('woff'),
         url('font-ubuntu/ubuntu-light-webfont.ttf') format('truetype'),
         url('font-ubuntu/ubuntu-light-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


